body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f8ff;
    text-align: center;

}

#game-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#menu-container {
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#menu-container h3 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

#menu-container button {
    background-color: #007bff;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.hidden {
    display: none !important;
}

#image-container img {
    max-width: 200px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

#word-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
    height: 60px;
}

.letter-filled {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    color: #333;
}

.drop-zone {
    width: 50px;
    height: 50px;
    border: 2px dashed #aaa;
    border-radius: 6px;
    background-color: #f9f9f9;
}

.drop-zone:hover {
    background-color: #e0f7fa;
    border-color: #00bcd4;
}

.drop-zone.filled {
    border-style: solid;
    border-color: #4caf50;
    background-color: #fff;
    font-size: 2em;
    font-weight: bold;
    color: #4caf50;
}

#letter-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    padding: 10px;
    background-color: #eee;
    border-radius: 8px;
}

.letter-card {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2em;
    font-weight: bold;
    background-color: #007bff;
    color: white;
    border-radius: 8px;
    cursor: grab;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    user-select: none;
}

.letter-card.dragging {
    opacity: 0.5;
    cursor: grabbing;
}

#win-screen {
    background-color: #d4edda;
    color: black;
    border: 1px solid #c3e6cb;
    padding: 40px;
    border-radius: 10px;
}

#restart-button {
    background-color: #28a745;
    color: white;
    font-size: 1.2em;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.shake {
    animation: shake 0.5s;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}